:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

body {
    background-color: var(--color-white);
    color: var(--color-slate);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Phone styles */
.container {        
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;   
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
   .container {
    max-width: 768px;
  }
}
/* Desktop styles */
@media only screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;           
  }
}

/* Reset */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */
.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo {
    margin-right: auto;
    padding-top: 25.5px;
    padding-bottom: 23.5px;        
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;   
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo .color {   
    color: var(--color-navy-blue);
}

.menu-toggle .burger-icon {   
    stroke: var(--color-navy-blue);
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;

    color: var(--color-navy-blue);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-ocean);
    border-radius: 2px;
    left: 0px;
    bottom: -1px;  
}
.current {
    color: var(--color-ocean);
}

.contact {
    font-style: normal;
    margin-left: auto;
}

.contact-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--color-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--color-ocean);
}

.container-header,
.container-nav,
.list-nav,
.list-contact {
    display: flex;
    align-items: center;
}
.list-nav,
.list-contact {
    gap: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .container-header {
        justify-content: space-between;
    }
    .list-contact {
        flex-direction: column;
        gap: 12px;
    }
    .contact-link {
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 1.17;       
        letter-spacing: 0.04em;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
    .header-logo {
        margin-right: 76px;
    }       
            
}

@media only screen and (max-width: 767px) {
   .container-nav {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
    .contact {
        display: none;
    }
}

/* Hero */
@media only screen and (max-width: 428px) {
.section-hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgrounds/hero-image_mob@1x.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgrounds/hero-image_mob@2x.jpg);
            }
    }
    
}

@media only screen and (min-width: 429px) and (max-width: 768px) {
.section-hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgrounds/hero-image_tab@1x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgrounds/hero-image_tab@2x.jpg);
        }
    }

}
@media only screen and (min-width: 769px) {
    .section-hero {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgrounds/hero-image_desk@1x.jpg);
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/backgrounds/hero-image_desk@2x.jpg);
            }
        }
    
    }

    .section-hero {
        background-color: var(--color-navy-blue);
        padding-top: 112px;
        padding-bottom: 112px;            
        margin-left: auto;
        margin-right: auto;
    }
        .hero-title {
            max-width: 320px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 72px;
    
            color: var(--color-white);
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em
        }

@media only screen and (min-width: 768px) {
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
        }
    }
@media only screen and (min-width: 1158px) {
    .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;  
    margin-bottom: 48px;  
    }
}


.btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;    
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-iris);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--color-ocean);
   
}

/* Features */
.section-features {
    padding-top: 96px;
    padding-bottom: 96px;   
}
@media only screen and (min-width: 1158px) {
.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;    
}
@media only screen and (min-width: 768px) {
.features-container{
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
    .features-container {
        gap: 24px;
    }
}

.features-item {
    display: block;
   text-align: center;   
}
@media only screen and (min-width: 768px) {
.features-item {
    text-align: left;
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
    .features-item {      
    width: calc((100% - 24px * 3) / 4);
    }
}

.features-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-navy-blue);
    letter-spacing: 0.02em;    
}
@media only screen and (min-width: 1158px) {
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-text {
    font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}
.features-icon {
    display: none;    
}
@media only screen and (min-width: 1158px) {
.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    
    margin-bottom: 8px;
    background-color: var(--color-cloud);
    border-radius: 4px;
  }
}

/* what are we doing */
.section-works {
    display: none;
}
@media only screen and (min-width: 1158px) {

.section-works {
    display: block;
    padding-bottom: 120px;
    }

.works-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    }

.pic {
    width: calc((100% - 48px) / 3);
    }
}

/* Titles works&team */
.works-title,
.team-title,
.customers-title {
    margin-bottom: 72px;
    color: var(--color-navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}

/* Team */
.section-team {
    padding-top: 96px;
    padding-bottom: 96px; 
    background-color: var(--color-cloud);
}

@media only screen and (min-width: 1158px) {
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team-list-container {    
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
.team-list-container {
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
    gap: 64px 24px;    
  }
}
@media only screen and (min-width: 1158px) {
.team-list-container {
    max-width: 100%;
    gap: 24px;
  }
}
.team-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (min-width: 768px) {
.team-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
.team-item {
    width: calc((100% - 24px * 3) / 4);
    }
}
.team-subtitle {
    padding: 32px 0;
    background-color: var(--color-white);
}
.avatar-text {
    margin-bottom: 8px;
}
.social-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    color: var(--color-cloud);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--color-ocean);
}
.social-icon {
    fill: currentColor;
}

/* Titles avatar&examples */
.avatar-title,
.examples-title {
    margin-bottom: 8px;
    color: var(--color-navy-blue);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.avatar-title,
.avatar-text {
    text-align: center;
}

/* Customers */
.section-customers {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;   
}

@media only screen and (min-width: 1158px) {
.section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-title {
    line-height: 1.1;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 72px 16px;    
}
.customers-item {
    width: calc((100% - 16px * 1) / 2);
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
.customers-list {    
    max-width: 552px;
    margin-right: auto;
    margin-left: auto;
    gap: 72px 24px;
  }
  .customers-item {
      width: calc((100% - 24px * 2) / 3);
  }  
}

@media only screen and (min-width: 1158px) {
.customers-list {
    gap: 24px;
    }
.customers-item {
    width: calc((100% - 24px * 5) / 6);
    }
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 100%;     
    height: 88px;
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    color: var(--color-light-slate);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
.customers-link {
    max-width: 168px;     
    }
}

.customers-link:hover,
.customers-link:focus {   
    border: 1px solid var(--color-ocean);
    color: var(--color-ocean);
}
.customers-icon {
    fill: currentColor;
}


/* Portfolio */
.filter-btn {
    padding: 12px 24px;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    box-shadow: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {

    color: var(--color-white);
    background-color: var(--color-ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
        
}

.projects .text-color {
    color: var(--color-slate);
}

.section-projects {
    padding-top: 96px;
    padding-bottom: 120px;
}

.project-subtitle {
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;

    background-color: var(--color-white);
    border-left: 1px solid var(--color-cornflower);
    border-right: 1px solid var(--color-cornflower);
    border-bottom: 1px solid var(--color-cornflower);
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.examples-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.examples-item {
    flex-basis: calc((100% - 48px) / 3);
}
.examples-box {
    position: relative;
    overflow: hidden;
}
.examples-link {
    display: block;
}


.examples-link:hover,
.examples-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.examples-pic {
 
}
.examples-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 0 32px;
    color: var(--color-cloud);    
    background-color: var(--color-iris);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-link:hover .examples-label,
.examples-link:focus .examples-label {    
    transform: translateY(0);
}


/* Footer */
.footer {    
    padding-top: 96px;
    padding-bottom: 96px;    
    background-color: var(--color-navy-blue);
}
@media only screen and (min-width: 1158px) {
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.footer-container {   
    display: flex;  
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 768px) {
.footer-container {
    display: block;
    max-width: 552px;   
  }
  .footer-inf {
    display: flex;
    justify-content: left;
    gap: 24px;
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
.footer-container {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    max-width: 100%;
  }
  .footer-inf {
    margin-bottom: 0;
    gap: 0;
  }
}
.leftside-footer {
    max-width: 268px;
    text-align: center;
    margin-bottom: 72px;    
}
@media only screen and (min-width: 768px) {
.leftside-footer {
    max-width: 264px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
    .leftside-footer {
    margin-right: 120px;
    }
}
.footer-logo {
    margin-bottom: 16px;  
    color: var(--color-iris);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: inline-block;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.footer-logo .color {
    color: var(--color-cloud);
}
.footer-text {    
    margin-left: auto;
    margin-right: auto;
    text-align: left;   
    color: var(--color-cloud);
}
.rightside-footer {
    margin-bottom: 72px;
}
.footer-subtitle {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;     
    color: var(--color-white);
}
@media only screen and (min-width: 768px) {
.footer-subtitle {
    text-align: left;
  }
  .rightside-footer {
      margin-bottom: 0;
  }
}
.footer-social-list {
    display: flex;
    justify-content: center;    
    gap: 16px;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-iris);
    color: var(--color-cloud);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--color-green);
}
.footer-social-icon {
    fill: currentColor;
}

@media only screen and (max-width: 768px) {
.form-footer {
        width: 100%;
    }
}

@media only screen and (min-width: 1158px) {
.form-footer {
        margin-left: auto;
    }
}
.footer-subscribe-form {     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
@media only screen and (min-width: 768px) {
.footer-subscribe-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media only screen and (min-width: 1158px) {
.footer-subscribe-form {
    gap: 24px;
  }
}
.footer-input {
    width: 100%;        
    height: 40px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-white);
    font-size: 12px;
    line-height: 2.00;
    letter-spacing: 0.04em;    
}

@media only screen and (min-width: 768px) {
.footer-input {
    width: 264px;
    margin-bottom: 0;
  }
}

.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    gap: 16px;    
}

.footer-subscribe-icon { 
    fill: var(--color-white);
}

/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(50%);
    opacity: 0;    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;    
    padding: 72px 16px 24px;

    width: 392px;
    transform: translate(-50%, -50%) scale(100%);
    opacity: 1;

    background-color: var(--color-dairy);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (orientation: landscape) {
    .backdrop {
        overflow: auto;
    }
    .modal {
        top: 0;
        transform: translate(-50%, 0%);
    }
}
@media only screen and (min-width: 1158px) {
    .modal {
        padding: 72px 24px 24px;
        min-width: 408px;
    }
}
.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: var(--color-cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    background-color: var(--color-ocean);
    border: none;
}
.modal-icon {
    fill: var(--color-navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon,
.modal-btn:active .modal-icon {
    fill: var(--color-white);
}
.modal-title {
    display: block;    
    margin-bottom: 16px;
    font-weight: 500;
    text-align: center;
}
.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-light-slate);

}
.modal-form-field {
    position: relative;
    margin-bottom: 8px;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    padding: 11px 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    border: 1px solid var(--color-iris);    
}
 .modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--color-navy-blue);
    pointer-events: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
.modal-form-input:focus + .modal-form-icon {
    fill: var(--color-iris);
}
.modal-form-area {
    display: block;
    width: 100%;
    min-height: 120px;
    resize: none;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-area:focus {
    border: 1px solid var(--color-iris);
}
.modal-form-area::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-form-agree {
    position: relative;
    display: flex;
    margin-bottom: 24px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-form-check {
    appearance: none;   
    margin-right: 8px;  
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;         
}
.modal-check-icon {    
    position: absolute;    
    top: 50%;
    left: 3px;  
    transform: translateY(-50%);   
    fill: var(--color-cloud);
    opacity: 0;    
}
.modal-form-check:checked{
    background-color: var(--color-ocean);
    border-color: var(--color-ocean);
}
.modal-form-check:checked + .modal-check-icon {     
    opacity: 1;
}
.agree-link {
    margin-left: 4px;
    color: var(--color-iris);
}

/* Mobile menu styles */
.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;   
    background-color: transparent;
    border: none;
    outline: none;   
    cursor: pointer;
}
.js-close-menu {
    border-radius: 50%;  
    border: 1px solid var(--color-cornflower);   
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.js-close-menu:hover,
.js-close-menu:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;    
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--color-white);
    z-index: 999;
        
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}
.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--color-navy-blue);
}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    margin-bottom: auto;
}

.mobile-menu .link {
    display: block;
    color: var(--color-navy-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;      
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.mobile-menu .current-mob {
    color: var(--color-ocean);
}
.mobile-menu-contacts {   
    padding: 0;
    margin-bottom: 40px;    
}

.mobile-menu-contacts .contact-link-tel {
    padding: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--color-iris);
    text-decoration: none;   
}

.mobile-menu-contacts .contact-link-mail {
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-slate);
}

.mobile-social-list {
   justify-content: left;
   /* flex-wrap: wrap; */
   gap: 56px;
}

